.content div,.content span,.content object,.content iframe,.content h1,.content h2,.content h3,.content h4,.content h5,.content h6,.content p,.content blockquote,.content pre,.content abbr,.content address,.content cite,.content code,.content del,.content dfn,.content em,.content img,.content ins,.content kbd,.content q,.content samp,.content small,.content strong,.content sub,.content sup,.content var,.content b,.content i,.content dl,.content dt,.content dd,.content ol,.content ul,.content li,.content fieldset,.content form,.content label,.content legend,.content table,.content caption,.content tbody,.content tfoot,.content thead,.content tr,.content th,.content td,.content article,.content aside,.content figure,.content footer,.content header,.content menu,.content nav,.content section,.content time,.content mark,.content audio,.content video,.content details,.content summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background-color: transparent;
}

.content {
  color: ${base_color};
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: ${font_family};
}

.content:not(:last-child) {
  margin-bottom: 20px;
}

.content a {
  border-bottom: 1px solid #d3d6db;
  color: #1fc8db;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

.content a:visited {
  color: #847bb9;
}

.content a:hover {
  border-bottom-color: #1fc8db;
  color: #222324;
}

.content li + li {
  margin-top: 0.25em;
}

.content blockquote:not(:last-child),
.content p:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #222324;
  font-weight: 300;
  line-height: 1.125;
  margin-bottom: 20px;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child) {
  margin-top: 40px;
}

.content blockquote {
  background-color: #f5f7fa;
  border-left: 5px solid #d3d6db;
  padding: 1.5em;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  font-size: 1.75em;
}

.content h3 {
  font-size: 1.5em;
}

.content h4 {
  font-size: 1.25em;
}

.content h5 {
  font-size: 1.125em;
}

.content h6 {
  font-size: 1em;
}

.content ol {
  list-style: decimal outside;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul {
  list-style-type: square;
}

.content.is-medium {
  font-size: 18px;
}

.content.is-medium code {
  font-size: 14px;
  background-color: #f5f7fa;
  color: #ed6c63;
  font-size: 12px;
  font-weight: normal;
  padding: 1px 2px 2px;
}

.content.is-large {
  font-size: 24px;
}

.content.is-large code {
  font-size: 18px;
  background-color: #f5f7fa;
  color: #ed6c63;
  font-size: 12px;
  font-weight: normal;
  padding: 1px 2px 2px;
}
