.container {
  box-sizing: inherit;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background-color: transparent;
  position: relative;
}

@media screen and (min-width: ${container_breakpoint_narrow_min}) {
  .container {
    margin: 0 auto;
    max-width: ${container_narrow_max_width};
  }
  .container.is-fluid {
    margin: 0 20px;
    max-width: none;
  }
}

@media screen and (min-width: ${container_breakpoint_wide_min}) {
  .container {
    max-width: ${container_wide_max_width};
  }
}