.footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background-color: transparent;
}

.footer {
  background-color: #f5f7fa;
  padding: 40px 20px 80px;
}

.footer a, .footer a:visited {
  color: ${base_color};
}

.footer a:hover, .footer a:visited:hover {
  color: #222324;
}

.footer a:not(.icon), .footer a:visited:not(.icon) {
  border-bottom: 1px solid #d3d6db;
}

.footer a:not(.icon):hover, .footer a:visited:not(.icon):hover {
  border-bottom-color: #1fc8db;
}