.icon {
    display: inline-block;
    font-size: ${font_size_base};
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    width: 24px;
  }

  .icon .fa {
    font-size: inherit;
    line-height: inherit;
  }

  .icon.is-small {
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: top;
    width: 16px;
  }

  .icon.is-medium {
    display: inline-block;
    font-size: 28px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: top;
    width: 32px;
  }

  .icon.is-large {
    display: inline-block;
    font-size: 42px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: top;
    width: 48px;
}
