.menu ul, .menu li, .menu a, .menu p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: ${font_family};
  color: ${base_color};
  line-height: 1.428571428571429;
  font-size: ${font_size_base};
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
  vertical-align: baseline;
}

.menu ul {
  list-style: none;
}

.menu-list a {
  color: #1fc8db;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  border-radius: 2px;
  color: ${base_color};
  display: block;
  padding: 5px 10px;
}

.menu-list a:hover {
  background-color: #f5f7fa;
  color: #1fc8db;
}

.menu-list a.is-active {
  background-color: #1fc8db;
  color: white;
}

.menu-list li ul {
  border-left: 1px solid #d3d6db;
  margin: 10px;
  padding-left: 10px;
}

p.menu-label {
  color: #aeb1b5;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.menu-label:not(:first-child) {
  margin-top: 20px;
}
