.message {
  color: ${base_color};
  font-weight: 400;
  line-height: 1.428571428571429;
  font-weight: normal;
  font-family: ${font_family};
  font-size: ${font_size_base};
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.message:not(:last-child) {
  margin-bottom: 20px;
}

.message-body {
  color: ${base_color};
  border: 1px solid #d3d6db;
  border-radius: 3px;
  padding: 12px 15px;
}

.message-body strong {
  color: inherit;
}

.message-header {
  background-color: ${base_color};
  border-radius: 3px 3px 0 0;
  color: white;
  padding: 7px 10px;
}

.message-header strong {
  color: inherit;
}

.message-header + .message-body {
  border-radius: 0 0 3px 3px;
  border-top: none;
}

.message {
  background-color: #f5f7fa;
  border-radius: 3px;
}

.message.is-white {
  background-color: white;
}

.message.is-white .message-header {
  background-color: #fff;
  color: #111;
}

.message.is-white .message-body {
  border-color: #fff;
  color: #666666;
}

.message.is-black {
  background-color: whitesmoke;
}

.message.is-black .message-header {
  background-color: #111;
  color: #fff;
}

.message.is-black .message-body {
  border-color: #111;
  color: gray;
}

.message.is-light {
  background-color: #f5f7fa;
}

.message.is-light .message-header {
  background-color: #f5f7fa;
  color: ${base_color};
}

.message.is-light .message-body {
  border-color: #f5f7fa;
  color: #666666;
}

.message.is-dark {
  background-color: #f4f5f6;
}

.message.is-dark .message-header {
  background-color: ${base_color};
  color: #f5f7fa;
}

.message.is-dark .message-body {
  border-color: ${base_color};
  color: gray;
}

.message.is-primary {
  background-color: #edfbfc;
}

.message.is-primary .message-header {
  background-color: #1fc8db;
  color: white;
}

.message.is-primary .message-body {
  border-color: #1fc8db;
  color: gray;
}

.message.is-info {
  background-color: #edf7fc;
}

.message.is-info .message-header {
  background-color: #42afe3;
  color: white;
}

.message.is-info .message-body {
  border-color: #42afe3;
  color: gray;
}

.message.is-success {
  background-color: #f4faf0;
}

.message.is-success .message-header {
  background-color: #97cd76;
  color: white;
}

.message.is-success .message-body {
  border-color: #97cd76;
  color: gray;
}

.message.is-warning {
  background-color: #fffbeb;
}

.message.is-warning .message-header {
  background-color: #fce473;
  color: rgba(17, 17, 17, 0.5);
}

.message.is-warning .message-body {
  border-color: #fce473;
  color: #666666;
}

.message.is-danger {
  background-color: #fdeeed;
}

.message.is-danger .message-header {
  background-color: #ed6c63;
  color: white;
}

.message.is-danger .message-body {
  border-color: #ed6c63;
  color: gray;
}
