.section {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background-color: transparent;
  background-color: #fff;
  padding: 40px 20px;
}

@media screen and (min-width: ${breakpoint_desktop_min}) {
  .section.is-medium {
    padding: 120px 20px;
  }
  .section.is-large {
    padding: 240px 20px;
  }
}